<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>自傳履歷</title>
</head>
<body bgcolor="#FFECEC">
	<h1 align="center">自傳履歷</h1>
	<img src="/static/mee.jpg" width="500" style="display:block; margin:auto;">
	<br /><br /><br />
	<table align="center" border-width:5px border="1" style="border:3px #0080FF solid; padding: 5px;" rules="all" cellpadding='5' ;>
		<tr>
			<td align="center" width=50%>
				<p>為何適合這個工作</p>
			</td>
			<td align="center" width=50%>
				<p>未來規劃</p>
			</td>
		</tr>
		<tr>
			<td align="center" width=50%>
				<p>我對於MIS的工作內容非常有興趣，工讀時也曾經實際做過較簡單的工作，發現自己對於這部分可以很快的去了解並實作。</p>
			</td>
			<td align="center" width=50%>
				<p>就學期間多利用學校資源去學習更多資訊方面的知識，發掘興趣，並了解自己喜歡、想做的是什麼。寒暑假時，選擇與自己專業相關的實習機會，累積實際工作經驗。</p>
			</td>
		</tr>
	</table>
</body>
</html>